.form-container {
  display: flex;
  min-height: 100vh;
  background: #f5f5f5;
}

/* LEFT IMAGE */
.form-image {
  flex: 1;
  background: #f6c565;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-image img {
  width: 85%;
  max-width: 500px;
  border-radius: 12px;
}

.form-image h3 {
  margin-top: 20px;
  font-size: 26px;
  color: white;
  letter-spacing: 1px;
}

/* RIGHT FORM */
.form-box {
  flex: 1;
  background: white;
  padding: 80px 60px;
}

.form-box h2 {
  margin-bottom: 10px;
}

.subtitle {
  margin-bottom: 30px;
  color: #777;
}

.form-box label {
  font-size: 14px;
  margin-top: 10px;
  display: block;
}

.form-box input {
  width: 100%;
  padding: 12px;
  margin-top: 6px;
  margin-bottom: 18px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-box button {
  width: 100%;
  padding: 12px;
  background: linear-gradient(to right, #1e88e5, #42a5f5);
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.form-box button:hover {
  opacity: 0.9;
}
